<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/home.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/login.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>OlinApps OAuth Boilerplate</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  {{{body}}}
  </body>
</html>
