<h1> Welcome home! </h1>

<img src="{{image_url}}" alt="profile picture">

<!-- <a href="https://api.venmo.com/v1/oauth/authorize?client_id=2473&scope=make_payments%20access_profile">Login to venmo</a> -->

<form>
    Email to pay one cent to:<br>
    <input type="text" id="venmo_email">
    <br>
    <button id="venmo_pay_button">Pay on venmo!</button>
</form>

<div id="pay_submit_message"></div>

<button id="logout_button">Log out!</button>

<script type="text/javascript" src="javascripts/home.js"></script>
