<h1 id="title">Welcome to Obay!</h1>
<a href="http://www.olinapps.com/external?callback=http://127.0.0.1:3000/olinAppsAuth">Login with Olinapps!</a>

<script type="text/javascript" src="javascripts/login.js"></script>
