@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
.dropzone .dz-preview .dz-details .dz-size span, .dropzone .dz-preview .dz-details .dz-filename span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em; }

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px; }

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px; }

@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px); }

  30% {
    opacity: 1;
    transform: translateY(0px); }

  70% {
    opacity: 1;
    transform: translateY(0px); }

  100% {
    opacity: 0;
    transform: translateY(-40px); } }

@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px); }

  30% {
    opacity: 1;
    transform: translateY(0px); }

  70% {
    opacity: 1;
    transform: translateY(0px); }

  100% {
    opacity: 0;
    transform: translateY(-40px); } }

@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px); }

  30% {
    opacity: 1;
    transform: translateY(0px); }

  70% {
    opacity: 1;
    transform: translateY(0px); }

  100% {
    opacity: 0;
    transform: translateY(-40px); } }

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px); }

  30% {
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px); }

  30% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px); }

  30% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes pulse {
  0% {
    transform: scale(1); }

  10% {
    transform: scale(1.1); }

  20% {
    transform: scale(1); } }

@-moz-keyframes pulse {
  0% {
    transform: scale(1); }

  10% {
    transform: scale(1.1); }

  20% {
    transform: scale(1); } }

@keyframes pulse {
  0% {
    transform: scale(1); }

  10% {
    transform: scale(1.1); }

  20% {
    transform: scale(1); } }

.dropzone {
  box-sizing: border-box;
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px; }
  .dropzone * {
    box-sizing: border-box; }
  .dropzone.dz-clickable {
    cursor: pointer; }
    .dropzone.dz-clickable * {
      cursor: default; }
    .dropzone.dz-clickable .dz-message {
      cursor: pointer; }
      .dropzone.dz-clickable .dz-message * {
        cursor: pointer; }
  .dropzone.dz-drag-hover {
    border-style: solid; }
    .dropzone.dz-drag-hover .dz-message {
      opacity: 0.5; }
  .dropzone .dz-message {
    text-align: center;
    margin: 2em 0; }
  .dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-height: 100px; }
    .dropzone .dz-preview:hover {
      z-index: 1000; }
      .dropzone .dz-preview:hover .dz-details {
        opacity: 1; }
      .dropzone .dz-preview:hover .dz-image img {
        transform: scale(1.05, 1.05);
        filter: blur(8px); }
    .dropzone .dz-preview.dz-file-preview .dz-image {
      background: #999;
      background: linear-gradient(to bottom, #eee, #ddd); }
    .dropzone .dz-preview.dz-file-preview .dz-details {
      opacity: 1; }
    .dropzone .dz-preview.dz-image-preview {
      background: white; }
      .dropzone .dz-preview.dz-image-preview .dz-details {
        transition: opacity 0.2s linear; }
    .dropzone .dz-preview .dz-remove {
      font-size: 14px;
      text-align: center;
      display: block;
      cursor: pointer;
      border: none; }
      .dropzone .dz-preview .dz-remove:hover {
        text-decoration: underline; }
    .dropzone .dz-preview .dz-details {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      line-height: 150%; }
      .dropzone .dz-preview .dz-details .dz-size {
        margin-bottom: 1em;
        font-size: 16px; }
      .dropzone .dz-preview .dz-details .dz-filename {
        white-space: nowrap; }
        .dropzone .dz-preview .dz-details .dz-filename:hover span {
          border: 1px solid rgba(200, 200, 200, 0.8);
          background-color: rgba(255, 255, 255, 0.8); }
        .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
          overflow: hidden;
          text-overflow: ellipsis; }
          .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
            border: 1px solid transparent; }
    .dropzone .dz-preview .dz-image {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
      display: block;
      z-index: 10; }
      .dropzone .dz-preview .dz-image img {
        display: block; }
    .dropzone .dz-preview.dz-error .dz-error-mark {
      opacity: 1;
      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview.dz-error .dz-error-message {
      display: block; }
    .dropzone .dz-preview.dz-error:hover .dz-error-message {
      opacity: 1;
      pointer-events: auto; }
    .dropzone .dz-preview .dz-progress {
      opacity: 1;
      z-index: 1000;
      pointer-events: none;
      position: absolute;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      width: 80px;
      margin-left: -40px;
      background: rgba(255, 255, 255, 0.9);
      overflow: hidden; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        background: #333;
        background: linear-gradient(to bottom, #666, #444);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 300ms ease-in-out; }
    .dropzone .dz-preview .dz-error-message {
      pointer-events: none;
      z-index: 1000;
      position: absolute;
      display: block;
      display: none;
      opacity: 0;
      transition: opacity 0.3s ease;
      font-size: 13px;
      top: 130px;
      left: -10px;
      width: 140px;
      background: #be2626;
      background: linear-gradient(to bottom, #be2626, #a92222);
      padding: 0.5em 1.2em;
      color: white; }
      .dropzone .dz-preview .dz-error-message:after {
        content: '';
        position: absolute;
        top: -6px;
        left: 64px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #be2626; }
    .dropzone .dz-preview.dz-success .dz-success-mark {
      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview.dz-processing .dz-progress {
      opacity: 1;
      transition: all 0.2s linear; }
    .dropzone .dz-preview.dz-complete .dz-progress {
      opacity: 0;
      transition: opacity 0.4s ease-in; }
    .dropzone .dz-preview:not(.dz-processing) .dz-progress {
      animation: pulse 6s ease infinite; }
  .dropzone.dz-started .dz-message {
    display: none; }

.sh1, .round-button, #loginButton, #buyButton, button#cashButton, button#venmoButton, #toCarpeCheckbox, #collapsedListingView, #text_area #price, #watchEye:hover, #addContainer, #imageDisplay, #payView {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.sh2, .round-button:hover, #addButton, #image_area {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.sh3, #addButton:hover, #loginButton:hover, #buyButton:hover, button#cashButton:hover, button#venmoButton:hover, #toCarpeCheckbox:hover, #collapsedListingView:hover, #loginBox {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.sh4 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.sh5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/**
 * google-material-color v1.1.0
 * https://github.com/danlevan/google-material-color
 */
#AddListingView, #FeedViewMountPoint, #ListingView, #HomeView {
  width: 100%;
  height: 100%; }

* {
  font-family: 'Lato', sans-serif;
  transition: 0.1s ease-in-out; }

html, body, #PageContainer {
  margin: auto;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  color: black; }

body {
  background-color: #ececec;
  max-width: 900px;
  display: flex; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1); }

h1, h2, h3, h4 {
  font-weight: 400;
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

a {
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:hover {
    background-color: none;
    text-decoration: none; }
  a:active {
    text-decoration: none; }

button:focus {
  outline: 0; }

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important; }

.round-button {
  display: block;
  width: 56px;
  height: 56px;
  border: 0px;
  border-radius: 50%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 20px;
  transition: 0.1s ease-in-out; }

.round-button:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  cursor: pointer; }

#homeButton {
  background: #1976D2; }

#accountButton {
  background: #F57C00; }

#freeButton {
  background: #388E3C; }

#notificationsButton {
  background: #7B1FA2; }

#logoutButton {
  background: #303F9F; }

#addButton {
  background: #D32F2F;
  position: fixed;
  right: 25px;
  bottom: 25px;
  margin-bottom: 0px; }

#deleteImageButton {
  background: #D32F2F;
  position: absolute;
  z-index: 99999;
  left: 50%;
  top: 50%;
  margin-left: -28px;
  margin-top: -28px;
  margin-bottom: 0px; }
  #deleteImageButton .fa-times {
    cursor: pointer; }

#loginButton, #buyButton, button#cashButton, button#venmoButton, #toCarpeCheckbox {
  border: 0px;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-size: 14pt;
  padding: 12px; }
  #loginButton:hover, #buyButton:hover, button#cashButton:hover, button#venmoButton:hover, #toCarpeCheckbox:hover {
    cursor: pointer; }

#loginButton {
  width: 100%;
  background-color: #388E3C; }

#buyButton {
  background-color: #388E3C;
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px; }

button#cashButton {
  background-color: #388E3C;
  display: inline; }

button#venmoButton {
  background-color: #1976D2;
  display: inline;
  margin-left: 10px; }

#FeedViewMountPoint {
  margin-top: 50px; }

.listingHighlight {
  text-decoration: none; }
  .listingHighlight:hover {
    text-decoration: none; }

#collapsedListingView {
  background-color: white;
  position: relative;
  height: 150px;
  margin-bottom: 10px; }

#text_area {
  position: relative;
  margin-left: 160px;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  color: black; }
  #text_area #title {
    font-size: 24pt;
    margin: 0; }
  #text_area #price {
    position: absolute;
    background-color: #1976D2;
    bottom: 0px;
    right: 0px;
    color: white;
    font-size: 18pt;
    padding: 10px;
    box-sizing: border-box; }
  #text_area #description {
    margin-top: 5px;
    margin-right: 50px;
    height: 80px;
    overflow: hidden;
    text-overflow-multiline: ellipsis;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12pt; }

#image_area {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  display: block;
  float: left; }

#picture {
  max-height: 100%; }

#watchEye {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: 0px;
  height: 40px;
  width: 40px;
  border-radius: 48px;
  z-index: 99;
  font-size: 14pt;
  color: #9E9E9E; }
  #watchEye:hover {
    background-color: #E0E0E0;
    cursor: pointer; }

#PopoverAddListingView {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999; }

#loginBoxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 20; }

#loginBox {
  background-color: rgba(255, 255, 255, 0.7);
  width: 500px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; }

#loginLogo {
  width: 100%;
  font-size: 72pt;
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.87); }

.add {
  min-width: 900px !important;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center; }

/* The element to be centered, can also be of any width and height */
#addContainer {
  background-color: white;
  width: 100%;
  padding: 40px;
  display: flex;
  position: relative; }

#exitButton {
  position: absolute;
  right: -28px;
  top: -28px;
  margin-bottom: 0px;
  background: #D32F2F; }

#image_upload {
  height: 300px;
  width: 300px;
  order: 0;
  padding: 0px;
  position: relative; }

#addForm {
  order: 1;
  margin-left: 20px;
  position: relative;
  flex: 1; }
  #addForm #addListingImage, #addForm #addListingName, #addForm #addListingDescription, #addForm #addListingPrice {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px; }
  #addForm #addListingName {
    font-size: 24pt; }
  #addForm #addListingDescription {
    height: 100px; }
  #addForm #addListingPrice {
    font-size: 18pt; }
  #addForm #postButton {
    position: absolute;
    right: -68px;
    bottom: -68px;
    margin-bottom: 0px;
    background: #388E3C; }

.dropzone {
  display: flex;
  align-items: center; }

.dz-preview, .dz-processing, .dz-image-preview, .dz-success, .dz-complete, .dz-image {
  width: 100%;
  height: 100%; }

#toCarpeCheckbox {
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
  -webkit-transform-origin-y: 100%;
  transform-origin-y: 100%;
  display: inline;
  float: right;
  margin-top: 20px;
  background-color: #1976D2; }

#imageDisplay {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  overflow: hidden; }

#imageDisplay img {
  display: block;
  max-height: 100%; }

#textDisplay {
  flex: 1;
  margin-left: 20px; }
  #textDisplay #name {
    font-size: 32pt; }
  #textDisplay #creator {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 5px; }
  #textDisplay #price {
    margin-bottom: 10px;
    font-size: 18pt;
    display: inline-block;
    color: white;
    background-color: #D32F2F;
    padding: 5px;
    border-radius: 3px; }
  #textDisplay #description {
    margin-right: 50px;
    color: rgba(0, 0, 0, 0.87); }

#payView {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #FFF9C4;
  padding: 20px;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: -30px;
  margin-bottom: -30px;
  color: black; }
  #payView > h1, #payView h4 {
    margin-bottom: 10px; }
  #payView > h4 {
    color: rgba(0, 0, 0, 0.54); }

#sidebar {
  position: fixed;
  left: 50px;
  top: 50px; }

video#backgroundLoginVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  opacity: 1; }

#blackMask {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  background-size: cover;
  background-color: black;
  opacity: 0.7; }

