<h1>{{listing_name}} for sale!</h1>

Click the link below to buy {{listing_name}} for ${{listing_price}}!

<!--TODO: Put in correct links once we can. gmail does not allow linking to 127.0.0.1:3000 domain -->
<a href='www.google.com'>Clicky clicky!</a>

Email sent on behalf of {{listing_creator}}
