<h1>{{listing_name}} for sale!</h1>

<p>Click the link below to buy {{listing_name}} for ${{listing_price}}!</p>

<!--TODO: Put in correct links once we can. 
Gmail does not allow linking to 127.0.0.1:3000 domain -->
<a href='www.google.com'>Clicky clicky!</a>

<p>Cheers!</p>

<!--WHY? Why can it show an image of Grumpy Cat but not the logo image? Rawr! -->
<img id="logo" src="https://whyweprotest.net/attachments/grumpy-cat-ftr-1024x640-jpg.219931/">

<p>Sent on behalf of {{listing_creator}}</p>

