#email-body {
	padding: 10px;
}

#card {
	position: relative;
	background-color: aliceblue;
	max-width: 75%;
}

#card-title {
	text-align: center;
	background-color: #1976D2;
	color: white;
	padding: 10px;
}

#card-text {
	padding: 20px;
	text-align: center;
}

#signature {
	padding-top: 20px;
	text-align: left;
}

#logo {
	max-height: 100px;
}