* {
  font-family: 'Lato', sans-serif;
}

#email-body {
	padding: 10px;
}

#card {
	position: relative;
	background-color: #ececec;
	box-shadow: 0px 1px 10px 0px;
}

#card-title {
  font-size: 16pt;
  font-weight: 600;
	text-align: center;
	background-color: #1976D2;
	color: white;
	padding: 10px;
}

#card-text {
  font-size: 13pt;
	padding: 20px;
	text-align: center;
}

#signature {
	padding-top: 20px;
	text-align: left;
}

#logo {
	max-height: 100px;
}

#behalf-of {
  font-size: 12pt;
  font-style: italic;
  color: #3D3D3D;
}