<div>Account View!</div>

<h1> Venmo Payment Options </h1>
<p>To allow buyers of your items to pay you by venmo, hit the button below to link your venmo account with your obay account!</p>
<a href='https://api.venmo.com/v1/oauth/authorize?client_id=2473&scope=make_payments%20access_profile&redirect_uri=/#account'>Have buyers pay my Venmo account Money!</a>
<p> Click the button below to remove your venmo/obay account association! Buyers of your items will have to pay you in cash. </p>
<button id="removeVenmoButton">Remove dat venmo account association!</button>
<h1> Your Listings! </h1>
<div id=PersonalFeedMountPoint ></div>
