<div>Account View!</div>

<h1> Venmo Payment Options </h1>
<p>To allow buyers of your items to pay you by venmo, hit the button below to link your venmo account with your obay account!</p>

<a href='https://api.venmo.com/v1/oauth/authorize?client_id=2492&scope=make_payments%20access_profile&redirect_uri=http://127.0.0.1:3000/venmoAuth/addAccount'>Have buyers pay my Venmo account Money!</a>

<div>
Current venmo account that your buyers can pay with venmo: <%= venmoUserName %>
</div>

<p> Click the button below to remove your venmo/obay account association! Buyers of your items will have to pay you in cash. </p>

<form method="POST" action="/venmoRemoveAccount">
    <input type="submit"></input>
</form>
