<!-- HTML template for account page -->

<div id = "accountTop">
	<div id="headerPaper">
		<h1 id="accountHeader">Account Settings</h1>
		<h4 id="currentUser">Logged in as: <span id="id"><%= userId %> </span></h4>
	</div>
<br>
	<h4 id = "venmoHeader" color = "orange" class ="headerTag"> Venmo Payment Options </h4>
	<div id = "accountTagLine" class="line" color = "orange"></div>

	<div id = "venmoContent">

		<% if (venmoUserName==="") { %>

			<p id="venmoMessage">To allow buyers to pay you by Venmo, hit the link button below to connect a Venmo account to your Obay account. Otherwise, buyers can only pay you in cash.</p>


			<button onclick="location.href = 'https://api.venmo.com/v1/oauth/authorize?client_id=2492&scope=make_payments%20access_profile&redirect_uri=http://<%= PORT %>/venmoAuth/addAccount';" id="linkVenmoButton">Link</button>

		<% } %>	


		<% if (venmoUserName) { %>
		    <p id="venmoMessage"> The Venmo account associated with your Obay account is <span id="venmoCurrentUser"><a id="venmoUserLink" href="http://www.venmo.com/<%= venmoUserName %>" target="_blank"><%= venmoUserName %></a></span>. Click the unlink button to disconnect your Venmo and Obay accounts. If you do this, people who buy your items will have to pay you in cash.</p>

		 	<form method="POST" action="/venmoRemoveAccount">
		    	<input id="removeVenmoButton" type="submit" value="Unlink"></input>
			</form>
		<% } %>

	</div>
</div>
