<h1> Venmo Payment Options </h1>
<p>To allow buyers to pay you by Venmo, hit the button below to link a Venmo account with your Obay account!</p>

<a href='https://api.venmo.com/v1/oauth/authorize?client_id=2492&scope=make_payments%20access_profile&redirect_uri=http://<%= PORT %>:3000/venmoAuth/addAccount'>Have buyers pay my Venmo account Money!</a>

<% if (venmoUserName) { %>
    <div>
    Current venmo account that your buyers can pay with venmo: <%= venmoUserName %>
    </div>
<% } %>

<p> Click the button below to unlink your Venmo and Obay accounts! Buyers of your items will have to pay you in cash. </p>

<form method="POST" action="/venmoRemoveAccount">
    <input type="submit"></input>
</form>

<h1>Your listings</div>
<div id="FeedViewMountPoint"></div>
