<div class = 'add'>
<h1>Add a Listing!</h1>
<p>Please provide a working link for the image field</p>
<form name = "addForm" novalidate ng-click = "hideMsg()">

	<input type = "text" id = "name" placeholder = "Item Name" name = "name"> <br>

    <textarea id="description" placeholder="Description" name="Description"></textarea><br>

	<input type = "text" id="image" placeholder = "Image Link"><br>

	$<input type = "text" id="price" placeholder = "Price"><br>

	<button type = "submit">Add!</button>

    <div id="error_message"></div>

</form><br>

</div>
