<div class='add'>
  <div id="addContainer">
    <div id="image_upload" class="dropzone"></div>

    <form id="addForm" >
      <input type="text" id="addListingName" placeholder="Item Name" name="name"> <br>
      <input type="text" id="addListingPrice" placeholder="Price"><br>
      <input type="text" id="addListingImage" placeholder="Image url" > <br>
      <textarea id="addListingDescription" placeholder="Description" name="Description"></textarea><br>
      
      <button type="submit" class="round-button" id="postButton"><i class="fa fa-check"></i></button>

      <div id="error_message"></div>
    </form><br>

    <a href="/#home">
      <button class="round-button" id="exitButton"><i class="fa fa-times"></i></button>
    </a>

  </div>
</div>
