<div class='add'>
  <div id="addContainer">
    <div id="image_upload" class="dropzone"></div>

    <form id="addForm" >
      <input type="text" id="addListingName" placeholder="Item Name" name="name" value='<%= listing_name %>'></input><br>
      <input type="text" id="addListingPrice" placeholder="Price" value='<%= listing_price %>'><br>
      <input type="text" id="addListingImage" placeholder="Image Url" value='<%= listing_image %>'> <br>
      <textarea id="addListingDescription" placeholder="Pickup Information and Description" name="Description" value='<%= listing_description %>'><%= listing_description %></textarea><br>
      
      <label id="toCarpeCheckbox"><input id="carpeButton" type="checkbox" name="toCarpe" checked>Send a copy to Carpe?</label>
      <button type="submit" class="round-button" id="postButton"><i class="fa fa-check"></i></button>

      <div id="error_message"></div>
    </form><br>

    <a href="/#home">
      <button class="round-button" id="exitButton"><i class="fa fa-times"></i></button>
    </a>

  </div>
</div>
