<!-- HTML template for one listing on the feed -->


<a class="listingHighlight" id="<%= _id %>" href="#listing/<%= _id %>">
  <div id="collapsedListingView">


    <!-- <button type="button" id= "watchEye"><i class="fa fa-bookmark-o"></i></button> -->

    <% if (isCreator !== "undefined") { %>
      <button type="button" class="round-button" id="deleteButton"><i class="fa fa-times"></i></button>
    <% } %>
  
    <div id="image_area">
      <img id="picture" src="<%= listing_thumbnail %>">
    </div>
    
    <% if (listing_open ===false) { %>
        <div id= "soldStampDiv">
          <img id="soldStamp" src="/images/sold.png">
        </div>
    <% } %>

    <div id="text_area">
      <p id="title"> <%= listing_name %> </p>
      <div id="description"><p><%= listing_description %></p></div>

      <p id="price"><b>$ <%= listing_price %></b></p>
    </div>
  </div>
</a>
