<a class="listingHighlight" href="#listing/<%= _id %>">
    <div id="collapsedListingView">

        <!-- <button type="button" id= "watch">Watch</button> -->
        <div id="image_area">
            <img id="picture" src="<%= listing_image %>">
        </div>

        <div id="text_area">
            <p id="title"> <%= listing_name %> </p>
            <p id="description"> <%= listing_description %> </p>

            <p id="price"><b>$ <%= listing_price %></b></p>
        </div>
    </div>
</a>
