<div class='add'>
  <div id="addContainer">
    <div id="imageDisplay">
      <!-- <div id="im" style="background-image: url('<%= listing_image %>')"></div> -->
      <img src="<%= listing_image %>"></img>
    </div>

    <div id="textDisplay">
      <div id="name"><%= listing_name %></div>
      <div id="creator"><%= listing_creator %></div>
      <div id="price">$ <%= listing_price %></div>
      <div id="description"><%= listing_description %></div>
      <button id="buyButton">Buy</button>
      <button id="editButton">Edit</button>
    </div>

    <a href="/#home">
      <button class="round-button" id="exitButton"><i class="fa fa-times"></i></button>
    </a>

  </div>
</div>