<div class='add'>
  <div id="addContainer">
    <div id="imageDisplay">
      <img src="<%= item.listing_image %>"></img>
    </div>

    <div id="textDisplay">
      <div id="name"><%= item.listing_name %></div>
      <div id="creator"><%= item.listing_creator %></div>
      <div id="price">$ <%= item.listing_price %></div>
      <div id="description"><%= item.listing_description %></div>
      <button id="buyButton">Buy</button>
      <button id="editButton">Edit</button>
    </div>

    <a href="/#home">
      <button class="round-button" id="exitButton"><i class="fa fa-times"></i></button>
    </a>

    <script>
      var currentUser = "<%= currentUser %>";
      var creator = "<%= item.listing_creator %>";
      if (currentUser!==creator) {
        document.getElementById("editButton").style.visibility="hidden";
      }
    </script>

  </div>
</div>