<!-- HTML template for login page -->

<!-- <video autoplay loop poster="polina.jpg" id="bgvid"> -->
<video autoplay loop id="backgroundLoginVideo">
  <source src="videos/background.mp4" type="video/mp4">
</video>

<div id="blackMask"></div>

<div id="loginBoxWrapper">
  <div id="loginBox">
    <!-- Replace with higher-quality logo. -->
    <div>
      <img src="/images/Logo2_transparency_x2.gif">
      <!-- the callback url below should be changed for deployment -->
      <a href="http://www.olinapps.com/external?callback=http://<%= PORT %>/olinAppsAuth">
        <button id="loginButton">
          Login with OlinApps!
        </button>
      </a>
    </div>
  </div>
</div>