<!-- HTML template for not found page -->

<img src="/images/nitya.jpg" alt="Error" id="nitya-pic">

<div id="notFoundPaper">
	<h2 id="notFoundHeader"> 404: Nothing to see here! </h2>
	<p id="notFoundText"> Click <a id="returnObayLink" href="#">here</a> to return to Obay!</p>
</div>

<img src="/images/allison.jpg" alt="Error" id="allison-pic">

<img src="/images/susie1.jpg" alt="Error" id="susie-pic">
<img src="/images/david.jpg" alt="Error" id="david-pic">
<img src="/images/dennis.jpg" alt="Error" id="dennis-pic">	
