<!-- HTML template for sidebar (home, free, account, logout and add buttons)
exists on every page -->

<div id="sidebar"> 
	<img id="topLogo" src="/images/Logo2_transparency.gif" alt="Obay Logo">
  <!-- TODO: Change Obay to logo. -->
	<button type="button" class="round-button" id="homeButton"><img id="littleO" src="/images/little_o_white.gif" alt="Olin O"></button>
  <button type="button" class="round-button" id="accountButton"><i class="fa fa-user"></i></button>
	<button type="button" class="round-button" id="freeButton"><i class="fa fa-usd"></i></button>

  <!-- TODO: Include numbers for functionality. -->
  <button type="button" class="round-button" id="notificationsButton"><i class = "fa fa-bell"></i></button>
	<button type="button" class="round-button" id="logoutButton"><i class="fa fa-sign-out"></i></button>
</div>

<button type="button" class="round-button" id="addButton"><i class="fa fa-plus"></i></button>