<div id="sidebar"> 
  <!-- TODO: Change Obay to logo. -->
	<button type="button" class="round-button" id="homeButton"><img id='littleO' src='https://dl-web.dropbox.com/get/Obay/little_o_white.gif?_subject_uid=121525441&w=AADeDpbUnl67m41uCJVvEP9DILYjXD6P4qqxI4CPunYzJA'></button>
  <button type="button" class="round-button" id="accountButton"><i class="fa fa-user"></i></button>
	<button type="button" class="round-button" id="freeButton"><i class="fa fa-usd"></i></button>

  <!-- TODO: Include numbers for functionality. -->
  <button type="button" class="round-button" id="notificationsButton"><i class = "fa fa-bell"></i></button>
	<button type="button" class="round-button" id="logoutButton"><i class="fa fa-sign-out"></i></button>
</div>

<button type="button" class="round-button" id="addButton"><i class="fa fa-plus"></i></button>