<div id="sidebar"> 
  <!-- TODO: Change Obay to logo. -->
	<button type="button" class = "round-button" id= "homeButton">Obay</button>
  <button type="button" class = "round-button" id= "accountButton"><i class="fa fa-user"></i></button>
	<button type="button" class = "round-button" id = "freeButton"><i class="fa fa-usd"></i></button>

  <!-- TODO: Include numbers for functionality. -->
  <button type="button" class = "round-button" id = "notificationsButton"></button>
	<button type="button" class = "round-button" id="logoutButton"><i class="fa fa-sign-out"></i></button>
</div>