/*provides styling for better presentation for all */
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
@import "sidebar.scss";
@import "dropzone.scss";
@import "collapsedItemListing.css";

* {font-family: 'Lato', sans-serif;}

html, body, #PageContainer {
  margin: auto;
  margin-top: 0px;
  height: 100%;
  width: 100%;
}

body {
  background-color: #ececec;
  overflow-y: scroll;
  max-width: 900px;
  display: flex;
}

h1 {
    color: #404040;
    font-size: 40px;
    margin-top: 0px;
}

h2 {
    color: #383838  ;
    font-size: 30px;
}

h3 {
    color: #00248F;
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
}

a {
  &:link {text-decoration: none;}
  &:visited {text-decoration: none;}
  &:hover {color: #FFFFFF ;
    background-color: #B6C4F0;
    text-decoration: none;}
  &:active {text-decoration: underline;}
}

#listtitles {
  color: #00248F;
  margin-left: 350px;
  font-size: 20px;
}

#buttons {
  padding: 20px;
}

#Homebutton{
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#Homebutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


#Createbutton {
  margin-right: 200px;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#Createbutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


// addListing
#submit {
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: left;
  &:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
}

#addtitle {
    color: #404040;
    font-size: 30px;
    margin-left: 20px;
    float: left;
}

#addcontent {
    color: #404040;
    font-size: 30px;
    margin-left: 20px;
    float: left;
}

#contentArea {
  padding: 20px;
  font-size: 20px;
}

/*css for delete and edit buttons*/
.delete, .edit {
  background-image: -webkit-linear-gradient(top, #f73c2e, #f73c2e);
  background-image: -moz-linear-gradient(top, #f73c2e, #f73c2e);
  background-image: -ms-linear-gradient(top, #f73c2e, #f73c2e);
  background-image: -o-linear-gradient(top, #f73c2e, #f73c2e);
  background-image: linear-gradient(to bottom, #f73c2e, #f73c2e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: left;
  margin-right: 5px;
}

.delete:hover, .edit:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #ff887f, #ff887f);
  background-image: -moz-linear-gradient(top, #ff887f, #ff887f);
  background-image: -ms-linear-gradient(top, #ff887f, #ff887f);
  background-image: -o-linear-gradient(top, #ff887f, #ff887f);
  background-image: linear-gradient(to bottom, #ff887f, #ff887f);
  text-decoration: none;
}

#editPage {
  font-size: 20px;
  padding: 20px;
}

.add {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
}

$addContainerPadding: 40px;
#addContainer {
  background-color: white;
  width: 100%;
  padding: $addContainerPadding;
  @extend .sh1;
  display: flex;
  position: relative;
}

#exitButton {
  position: absolute;
  right: -0px -$buttonSize/2;
  top: -0px -$buttonSize/2;
  margin-bottom: 0px; 
  background: palette(Red, $colorIntensity);
}

#image_upload {
  height: 300px;
  width: 300px;
  order: 0;
  padding: 0px;
}

#addForm {
  order: 1;
  margin-left: 20px;
  position: relative;
  flex: 1;
  #image, #name, #description, #price{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
  }

  #name {
    font-size: 24pt;
  }

  #description {
    height: 100px;
  }

  #price {
    font-size: 18pt;
  }

  #postButton {
    position: absolute;
    right: -$addContainerPadding - $buttonSize/2;
    bottom: -$addContainerPadding - $buttonSize/2;
    margin-bottom: 0px; 
    background: palette(Green, $colorIntensity);
  }
}

// Dropzone.
// FIXME: This is a hack. It's kinda clunky. Reduce all the redundancies.
.dropzone {
  display: flex;
  align-items: center;
}

.dz-preview, .dz-processing, .dz-image-preview, .dz-success, .dz-complete, .dz-image {
  width: 100%;
  height: 100%;
}

// Allison's styling.
// h3 {
//   color: #00248F;
//   margin-left: 20px;
//   font-size: 30px;
//   text-align: left; }

// textarea {
//   width: 650px;
//   height: 280px;
//   padding: 10px;
//   border: solid 5px #c9c9c9;
//   margin-left: 60px; }

// textarea:focus, textarea.focus {
//   border: solid 5px #969696;
//   width: 650px;
//   height: 280px;
//   margin-left: 60px; }

// input {
//   margin-left: 60px;
//   padding: 10px;
//   border: solid 5px #c9c9c9;
//   width: 250px;
//   height: 10px; }

// input:focus, input.focus {
//   border: solid 5px #969696;
//   width: 250px;
//   height: 10px;
//   margin-left: 60px; }