* {
  font-family: 'Lato', sans-serif;
}

html, body, #PageContainer {
  margin: auto;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  color: black;  
}

body {
  background-color: #ececec;
  overflow-y: scroll;
  max-width: 900px;
  display: flex;
}

h1 {
    color: #404040;
    font-size: 40px;
    margin-top: 0px;
}

h2 {
    color: #383838  ;
    font-size: 30px;
}

h3 {
    color: #00248F;
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
}

a {
  &:link {text-decoration: none;}
  &:visited {text-decoration: none;}
  &:hover { background-color: #B6C4F0;
    text-decoration: none;}
  &:active {text-decoration: underline;}
}