#sidebar {
  position: fixed;
  margin: $sidebarSpacing;
  margin-left: -280px;
}

#topLogo {
  position: relative;
  max-width: 200px;
  // @include scale(.8);
}

#sidebarNav {
  display: none;
}

@include phone {
  #sidebar {
    display: none;
  }
}

@include flexedContent {
  #sidebar {
    display: none;
  }

  #sidebarNav {
    display: inline-block;
  }
}