#sidebar {
  position: fixed;
  left: $sidebarSpacing;
  top: $sidebarSpacing;
}

#sidebarNav {
  display: none;
}

@include phone {
  #sidebar {
    display: none;
  }
}



@include flexedContent {
  #sidebar {
    display: none;
  }

  #sidebarNav {
    display: inline-block;
  }
}