#accountTop {
  margin-top: $contentMargin;
}


#headerPaper {
	background: #ffffff;
	@extend .sh1;
 	padding: 15px;
 	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}

#accountHeader {
	text-align: center;
}

#currentUser {
	text-align: center;
	margin-top: 10px;
	#currentUserLink {
		color: palette(Blue, $colorIntensity);
	}
}

#venmoHeader {
	margin-top: 20px;
}


#AccountFeedViewMountPoint {
	background: #ffffff;
	@extend .sh1;
 	padding: 15px;
}

#venmoContent {
  background: #ffffff;
  @extend .sh1;
  padding: 15px;
  display: flex;
  align-items: center;
}

#venmoMessage {
	padding-right: 30px;
}

#venmoUserLink {
	color: palette(Orange, $colorIntensity);
	font-weight: bold;
}

#venmoUserLink:hover {
	color: #c05f00;
	font-weight: bold;
}