.add {
  // FIXME: Make this dynamic.
  // min-width: 900px !important;
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
}

@include flexedContent {
  .add {
    margin-top: $contentMargin;
  }
}

/* The element to be centered, can also be of any width and height */ 
#addContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-wrap: wrap;

  background-color: white;
  width: 100%;
  padding: $addContainerPadding;
  @extend .sh1;
  display: flex;
  position: relative;
}

#image_upload {
  height: 300px;
  width: 300px;
  order: 0;
  padding: 0px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

#addForm {
  order: 1;
  min-width: 200px;
  position: relative;
  flex: 1;

  overflow: visible;

  #addListingImage, #addListingName, #addListingDescription, #addListingPrice{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
  }

  #addListingName {
    font-size: 24pt;
  }

  #addListingDescription {
    height: 100px;
  }

  #addListingPrice {
    font-size: 18pt;
  }

  #postButton {
    position: absolute;
    right: -$addContainerPadding - $buttonSize/2;
    bottom: -$addContainerPadding - $buttonSize/2;
    margin-bottom: 0px; 
    background: palette(Green, $colorIntensity);
  }
}

// Dropzone.
.dropzone {
  display: flex;
  align-items: center;
}

.dz-preview, .dz-processing, .dz-image-preview, .dz-success, .dz-complete, .dz-image {
  width: 100%;
  height: 100%;
}

#toCarpeCheckbox {
  @extend %rectangular-button;
  @include scale(0.8);

  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
  -webkit-transform-origin-y: 100%;
  transform-origin-y: 100%;

  display: inline;
  float: right;
  margin-top: 20px;
  background-color: palette(Blue, $colorIntensity);
}