.listingHighlight {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

$collapsedListingHeight: 150px;
#collapsedListingView {
  background-color: white;
  position: relative;
  height: $collapsedListingHeight;
  margin-bottom: 10px;
  @extend .sh1;

  &:hover {
    @extend .sh3;
  }
}

#text_area {
  position: relative;
  margin-left: $collapsedListingHeight + 10px;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  color: black;

  #title {
    font-size: 24pt;
    margin: 0;
  }

  #price {
    position: absolute;
    background-color: palette(Blue, $colorIntensity);
    bottom:0px;
    right: 0px;
    color: white;
    font-size: 18pt;
    padding: 10px;
    box-sizing: border-box;
    @extend .sh1;
  }

  #description {
    margin-top: 5px;
    margin-right: 50px;
    height: 80px;
    overflow: hidden;
    // text-overflow: ellipsis;
    text-overflow-multiline:ellipsis;
    color: palette(Black, Secondary Text);
    font-size: 12pt;
  }
}

#image_area {
  width: $collapsedListingHeight;
  height: $collapsedListingHeight;
  overflow: hidden;
  position: relative;
  display: block;
  float: left;
}

#picture {
  max-height:100%;
}