#ListingView {
  @extend %max;
  // border: 1px solid red;
}

#imageDisplay {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;

  display: block;
  box-sizing: border-box;

  @extend .sh1;

  & > img {
    @extend %centerImage;
  }
}

#textDisplay {
  overflow: none;
  flex: 1;
  margin-left: 20px;
  min-width: 200px;

  #name {
    font-size: 32pt;
  }
  
  #creator {
    color: palette(Black, Secondary Text);
    margin-bottom: 5px;
  }

  #price {
    margin-bottom: 10px;
    font-size: 18pt;
    display: inline-block;
    color: white;
    background-color: palette(Red, $colorIntensity);
    padding: 5px;
    border-radius: 3px;
  }

  #description {
    margin-right: 50px;
    color: palette(Black, Text);
  }

}
