#loginBoxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: 20;
}

#loginBox {
  background-color: rgba(255,255,255,0.7);
  width: 500px;
  height: 350px;
  @extend .sh3;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

#logo {
  width: 90%;
  margin: 10% 5% 0 5%;
}