.pay-mount-point {

  z-index: 1;
  width: 100%;

  #PayView {
    width: 100%;
    height: auto;
    background-color: palette(Yellow, 100);
    padding: 20px;
    text-align: left;
    color: black;
    @extend .sh1;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#pay-initial-text {
  margin-right: 20px;

  & > h4 {
    color: palette(Black, Secondary Text);
    text-align: right;
  } 
}
